@import '../../sass/bootstrap/variables';

.movie-list {
    &--container {
        padding: 0.625rem 3.75rem;
    }

    &--control-panel {
        position: relative;
        margin-bottom: 1.625rem;

        .sort-control {
            position: absolute;
            right: 0;
            top: 20px;
        }
    }

    &--movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .movie-tile {
            flex-basis: 30%;
        }
    }

    &--total {
        margin-bottom: 1.75rem;

        h4 {
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            color: $white;

            strong {
                font-weight: 600;
            }
        }
    }
}
