@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/static/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/static/Montserrat-Regular.woff") format("woff");
}
